<div>
    <h3>Posts</h3>
    <ul class="list-group">
        <% @posts.each do |p| %>
            <li class="list-group"> 
                <%= render partial: "posts/post", locals: { post: p } %>
            </li>
        <% end %>
    </ul>
</div>